@font-face {
    font-family: 'TrebuchetMS';
    src: 
        local('../fonts/TrebuchetMS/TrebuchetMS'), 
        url('../fonts/TrebuchetMS/TrebuchetMS.woff') format('woff'),
        url('../fonts/TrebuchetMS/TrebuchetMS.eot') format('eot'), 
        url('../fonts/TrebuchetMS/TrebuchetMS.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TrebuchetMS-Bold';
    src: 
        local('../fonts/TrebuchetMS/TrebuchetMS-Bold'), 
        url('../fonts/TrebuchetMS/TrebuchetMS-Bold.woff') format('woff'),
        url('../fonts/TrebuchetMS/TrebuchetMS-Bold.eot') format('eot'), 
        url('../fonts/TrebuchetMS/TrebuchetMS-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Exo2-Thin';
    src: 
        local('../fonts/Exo2/Exo2-Thin'), 
        url('../fonts/Exo2/Exo2-Thin.woff') format('woff'),
        url('../fonts/Exo2/Exo2-Thin.eot') format('eot'), 
        url('../fonts/Exo2/Exo2-Thin.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}