@import "../core/variables.styl";

*
  box-sizing border-box
  -webkit-tap-highlight-color transparent
  backface-visibility: hidden

body
  font 16px/1.5 $mainFont
  background $gradient, url('../img/styles/pattern.jpg') center repeat
  min-height 100vh
  display flex
  justify-content center
  align-items center

a,
button,
input
  &:focus
    outline 0

p
  margin 0

a
  text-decoration none

button
  border: 0

img
  width 100%
  height auto

figure
  margin 0

.ul
  margin 0
  padding 0
  list-style none

.grid
  min-height: $gridHeight

.__blue
  color $blue /*Я не виноват! Так было в макете =)*/